@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* Navbar */
#body-nav {
  box-shadow: 2px 1px 2px rgba(80, 80, 80, 0.8);
  background-color: #0081a7;
  height: 50px;
}

.navbar-logo a {
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  padding-top: 12px;
}
.navbar-logo a span {
  color: rgb(0, 255, 255);
}



.nav-item a {
  position: relative;
  font-size: 1.2rem;
  margin-right: 3px;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
}
.nav-item a:hover {
  background: white;
  transition: 0.3s;
  color: #0081a7;
}

.btn-header {
  background-color: #3b3b3b;
}

.btn-header:hover {
  background-color: #eb3b60;
}

.text-header {
  position: relative;
  top: 120px;
}

.img-header {
  position: static;
  bottom: 120px;
  right: 50px;
}
/* Penutup navbar */

/* Header */
#body-header {
  font-family: "Roboto";
  background: rgb(0, 129, 167);
  background: linear-gradient(
    0deg,
    rgba(0, 129, 167, 1) 0%,
    rgba(0, 136, 174, 1) 10%,
    rgba(0, 146, 185, 1) 18%,
    rgba(0, 167, 208, 1) 46%,
    rgba(0, 183, 225, 1) 66%,
    rgba(0, 212, 255, 1) 100%
  );
}

#body-header .container h1 {
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 58px;
}

#body-header .image-header img {
    height: 500px;
    width: 670px;
}

.text-header h6 {
  font-size: 30px;
  margin-bottom: 24px;
}
/* Penutup Header */

/* Agenda */
.text-agenda h2 {
  font-size: 2.5rem;
  font-family: 'Roboto';
  padding-top: 55px;
  text-align: center;
  text-decoration: underline;

}

.agenda-page {
    min-height: 105vh;
}


.agenda-info {
  margin-top: 10px;
}

.btn-agenda {
  background-color: #0081a7;
}

.btn-agenda:hover {
  background-color: #eb3b60;
}
/* Penutup Agenda */


/* Foto */
#foto {
  min-height: 10vh;
  padding-top: 60px;
}

.text-judul {
  padding-bottom: 10px;
}

.text-judul h2 {
  text-decoration: underline;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2.5rem;
}

.box-foto {
  margin-top: 20px;
}
/* Penutup Foto */

/* Form */
#about {
  min-height: 90vh;
}

form h2 {
  font-family: 'Roboto';
  font-weight: 700;
}

form .registration a {
  text-decoration: none;
}